.products-holders {
  gap: 100px;

  .container-75 {
    h1.big-title {
      span {
        color: var(--orange);
      }
    }
    .holder {
      .row {
        div {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 10px;
          // flex-grow: 1 !important;
          &:not(.fake-product) {
            img {
              &:hover {
                filter: contrast(5);
                scale: 0.9;
              }
            }
          }

          &.fake-product {
            cursor: no-drop;
            opacity: 0.1;
          }
        }
      }
    }
    .show-more {
      width: fit-content;
      background-color: var(--orange);
      color: var(--light);
      border: 2px solid var(--orange);

      &:hover {
        background-color: var(--light);
        color: var(--orange) !important;
        letter-spacing: 4px;
        font-weight: 900 !important;
      }
    }
  }
}

.privew {
  z-index: 10;

  .product-area {
    width: 35%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
  }
  .low-opacity-area {
    flex: 1;
  }

  .image {
    height: fit-content;
    width: 70%;
    position: relative;

    img {
      width: 100%;
      height: fit-content;
    }
  }

  .info {
    width: 100%;
    padding: 0;
    margin: 3rem auto;
    li {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      justify-items: start;
      padding: 7.6px;

      &:nth-child(odd) {
        background-color: #f7f7f9;
      }

      p {
        width: 50%;
        margin: 0px;
      }

      p:first-child {
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  .privew {
    .product-area {
      width: 60%;
    }
    .low-opacity-area {
      flex: 1;
    }
  }
}

.w-0 {
  width: 0px !important;
}
.h-0 {
  height: 0px !important;
}
