.products {
  .container-75 {
    h1.big-title {
      span {
        color: var(--orange);
      }
    }
    .holder {
      .row {
        div {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 10px;
          // flex-grow: 1 !important;

          img {
            &:hover {
              filter: contrast(5);
              scale: 0.9;
            }
          }
        }
      }
      .show-more {
        width: fit-content;
        background-color: var(--orange);
        color: var(--light);
        border: 2px solid var(--orange);

        &:hover {
          background-color: var(--light);
          color: var(--orange) !important;
          letter-spacing: 4px;
          font-weight: 900 !important;
        }
      }
    }
  }
}

.gallery {
  z-index: 10;

  .image {
    height: fit-content;
    width: 70%;

    img {
      width: 100%;
      height: fit-content;
    }
  }
  div:has(> svg) {
    font-size: 1.5rem;
    color: var(--light);
    opacity: 0.7;
    &:hover {
      color: var(--orange);
    }
  }

  .tools {
    flex-direction: column;
    height: 100%;
    gap: 4rem;
  }
}

@media (max-width: 991px) {
  .gallery {
    flex-direction: column;
    .image {
      margin-top: 15rem;
      width: 95% !important;
      img {
      }
    }
    div:has(> svg) {
    }

    .tools {
      flex-direction: row;
      justify-content: space-between !important;
      width: 100%;
      height: fit-content;
      gap: 0;
    }
  }
}
